<app-header-auth></app-header-auth>
<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->

        <form [formGroup]="getSecretPerkFrom" (ngSubmit)="onSubmit()" class="md-float-material form-material"
          action="javascript:">
          <div class="auth-box card">
            <div class="card-block">
              <div class="form-group form-primary">
                <input type="text" formControlName="email" class="form-control" required=""
                  [ngClass]="{ 'form-control-danger is-invalid': submitted && f.email.errors}">
                <span class="form-bar"></span>

                <label class="float-label">Your Email Address</label>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button [disabled]="loading" type="submit"
                    class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">GET SECRET
                    PERK</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="text-inverse text-left">Need support? Contact Us at <a class="text-primary" href="mailto:support@hiq.ai">support@hiq.ai</a></p>
                  <!-- <p class="text-inverse text-left"><a [routerLink]="['/auth/register']"><b>Sign Up</b></a></p> -->
                </div>
              </div>

              <div class="row m-t-10">
                <div class="col-md-12 ">
                  <div *ngIf="loading">
                    <div class="preloader3" style="height: 10px !important">
                      <div class="circ1"></div>
                      <div class="circ2"></div>
                      <div class="circ3"></div>
                      <div class="circ4"></div>
                    </div>
                  </div>
                  <div *ngIf="!loading && !!error && !status" class="alert alert-danger icons-alert">{{error}}</div>
                  <div *ngIf="!loading && !!notification && status" class="alert alert-success icons-alert">
                    {{notification}}</div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
<div *ngIf="perkScrets && perkScrets.length > 0" class="container">
  <div class="row" style="padding: 2rem 5rem">
    <div class="col-12 mb-2">
      <strong class="f-14 ">Choose the secret perk <span class="text-danger">(use code 28SNW07FVBPM at checkout to get further 10% OFF)</span></strong>
    </div>
    <div *ngFor="let perk of perkScrets; let i = index" class="col-12 text-center mb-3">
      <a target="_blank" href="{{perk.url}}" class="btn btn-success btn-block "><strong>{{perk.label}}
          {{perk.dicountAmount}} {{perk.currency}}
          <del>{{perk.amount}} {{perk.currency}}</del></strong></a>
    </div>
  </div>
</div>