<div class="preloader3 loader-block" *ngIf="loading">
  <div class="circ1"></div>
  <div class="circ2"></div>
  <div class="circ3"></div>
  <div class="circ4"></div>
</div>
<app-card [title]="'Your Categories'" [classHeader]="true" [blockClass]="'table-border-style'" [cardOptionBlock]="true">

    <div class="row justify-content-between mb-4">
    
      <div class="col-sm-8 mt-1">
         <button type="button" class="btn btn-primary btn-outline-primary md-trigger ripple light" (click)="openMyModal('effect-2')">New Category</button>

      
      </div>
      <app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
        <h3>Add Category</h3>
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <form #validationForm="ngForm" class="editForm" novalidate *ngIf="formInput">
                    <div class="row justify-content-start">
                      
                      <div class="col-md-12">
                        <div class="form-group" style="text-align: left;">
                          <label class="form-label mb-2">Name</label>
                          <input type="text" class="form-control" name="name" style="color: black;"
                           placeholder="Enter name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="6" required [(ngModel)]="formInput.name">
                          <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid name.</label>
                        </div>
            
                      </div>
                     
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-primary ripple light" (click)="create($event)">Create</button>
          <button class="btn btn-inverse ripple light" (click)="closeMyModal($event)">Close</button>
        </div>
        <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
      </app-modal-animation>
    </div>
      
    
    
    <div class="table-responsive checkscroll">
      <table id="mytable" class="table  table-bordered">
        <thead>
          <tr>
            <td>ID</td>
            <th>Name</th>
            <th>Children</th>
            <th>Option</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let category of categories; index as i">
            <td>{{i}}</td>
            <td>
                {{ category.name }}
            </td>
            <td>
              <div class="row justify-content-between">
                <div class="col-sm-8">
                  <ul style="list-style-type:none;">
                    <li *ngFor="let child of category.childs; index as index_child">
                        <span>{{child.name}}</span>
                        <button mat-menu-item style="border: none; background: none; outline:none" type="button" 
                        (click)="open_edit_child('effect-5',i, index_child)">
                          <i class="far fa-edit"  style="margin-left: 2px;"></i>
                        </button>
                        <button mat-menu-item style="border: none; background: none; outline: none" type="button"
                        (click)= "delete(child._id)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                    </li>
                  </ul>
                </div>
                <div class="col">
                <div ngbDropdown class="dropdown-primary mr-2">
                  <button ngbDropdownToggle class="btn btn-sm btn-primary btn-outline-primary" type="button">Option</button>
                  <div ngbDropdownMenu>
                   <button mat-menu-item style="border: none; background: none; outline:none" type="button"  
                   class="dropdown-item ripple light"
                   (click)="open_addchildren('effect-3', i)">
                      <i class="fas fa-plus"></i>
                    <span style=" margin-left: 2px">Add children</span>
                 </button>
                  </div>
                </div>
                </div>
              </div>
                <app-modal-animation [modalID]="'effect-3'" [modalClass]="'md-effect-2'">
                  <h3>Add Category</h3>
                  <div class="row justify-content-center">
                      <div class="col-sm-9">
                          <form #validationForm="ngForm" class="editForm" novalidate *ngIf="formChild">
                              <div class="row justify-content-start">
                                
                                <div class="col-md-12">
                                  <div class="form-group" style="text-align: left;">
                                    <label class="form-label mb-2">Name</label>
                                    <input type="text" class="form-control" name="name" style="color: black;"
                                     placeholder="Enter name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="6" required [(ngModel)]="formChild.name">
                                    <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid name.</label>
                                  </div>
                      
                                </div>
                               
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                    <button class="btn btn-primary ripple light" (click)="create_child($event, category, i)">Create</button>
                    <button class="btn btn-inverse ripple light" (click)="closeMyModal($event)">Close</button>
                  </div>
                  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
                </app-modal-animation>
            </td>
            <td
              class="text-center border p-2 mt-2"
              style="width: 15% !important; height: 100px !important; border-right: 1px solid;"
            >
            <button type="button" class="btn btn-success btn-sm waves-effect waves-light" (click)="edit('effect-4', category._id, i)">
              <i class="far fa-edit" style="margin-left: 2px;" ></i>            
            </button>
            <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" style="margin-left: 4px" 
            (click)="delete(category._id, i)">
              <i class="fas fa-trash-alt"></i>            
            </button>
            <app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-2'">
              <h3>Edit Category</h3>
              <div class="row justify-content-center">
                  <div class="col-sm-9">
                      <form #validationForm="ngForm" class="editForm" novalidate *ngIf="formInput">
                          <div class="row justify-content-start">
                            
                            <div class="col-md-12">
                              <div class="form-group" style="text-align: left;">
                                <label class="form-label mb-2">Name</label>
                                <input type="text" class="form-control" name="name" style="color: black;"
                                 placeholder="Enter name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="6" required [(ngModel)]="formInput.name">
                                <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid name.</label>
                              </div>
                  
                            </div>
                           
                          </div>
                      </form>
                  </div>
              </div>
              <div class="row justify-content-center">
                <button class="btn btn-primary ripple light" (click)="Edit_category($event)">Edit</button>
                <button class="btn btn-inverse ripple light" (click)="closeMyModal($event)">Close</button>
              </div>
              <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
            </app-modal-animation>

            <app-modal-animation [modalID]="'effect-5'" [modalClass]="'md-effect-2'">
              <h3>Edit Category</h3>
              <div class="row justify-content-center">
                  <div class="col-sm-9">
                      <form #validationForm="ngForm" class="editForm" novalidate *ngIf="formChild">
                          <div class="row justify-content-start">
                            
                            <div class="col-md-12">
                              <div class="form-group" style="text-align: left;">
                                <label class="form-label mb-2">Name</label>
                                <input type="text" class="form-control" name="name" style="color: black;"
                                 placeholder="Enter name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="6" required [(ngModel)]="formChild.name">
                                <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid name.</label>
                              </div>
                  
                            </div>
                           
                          </div>
                      </form>
                  </div>
              </div>
              <div class="row justify-content-center">
                <button class="btn btn-primary ripple light" (click)="Edit_child($event)">Create</button>
                <button class="btn btn-inverse ripple light" (click)="closeMyModal($event)">Close</button>
              </div>
              <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
            </app-modal-animation>
            </td>
          </tr>
        </tbody>
       
      </table>
    </div>
    <div class="row justify-content-end">
    
    <app-card>
      <ngb-pagination
      [pageSize] = "pagesize"
      [collectionSize]="totalItems"
      [boundaryLinks]="true"
      [(page)]="currentPage"
      (pageChange)="onPageChange(currentPage)"
      [maxSize]="maxSize"
      ></ngb-pagination>
    </app-card>
    
    </div>
    
    </app-card>