#main_navbar {
  background-color: #fff !important;
}

.navbar-container .badge {
  top: 8px;
  font-size: 60%;
}

.footer {
  z-index: 5 !important;
}



::-webkit-scrollbar{
  height: 4px;
  width: 2px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}