.page-body
{
    height: 100%;
}

.td
{
    white-space: pre-wrap;
}

.icon_config
{
    position: relative;
    right: -2px;
    color: black;
}

.button_config
{
    background: #ddd;
    border-color: aliceblue
}

.config_avatar
{
    height: 38px;
    width: 41px

}